<h2>Just a shot with Express, Consign and EJS Gun</h2>

<div>
    <ul>
        <% data.forEach(data => { %>
            <li>
                <h3><%- data.name %> - <%- data.email %></h3>
            </li>
        <% }) %>
    </ul>
</div>

